<div class="banner" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/<%= name.city_slug %>');">
  <div class="banner-content">
</div>

<div class="wraper">
  <div class="profile_box">



  </div>
  <div class="booking">

  </div>
</div>





    <!-- source/flats/show.html.erb -->

<!-- Access data.flats with owner's name as key -->

